.header {
  background-color: #EBE6D6;
  padding: 10px 20px;
}

.header-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 300px;
}

.header-info {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 0px;

}
.auth-btn {
    width: 150px;
    height: 45px;
    background: #D20A11;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-family: 'CustomFont', sans-serif;
    font-size: 18px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}

.auth-label {
    color: white;
}

.auth-btn:hover {
    background-color: #ce595e;
}
.header-down {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 130px;
}
.auth-link {
  text-decoration: none;
}


@media only screen and (min-width: 1921px) {
  .header-upper {
    gap: 500px;
  }
}


@media only screen and (min-width: 1366px) and (max-width: 1535px) {
  .header-upper {
    gap: 200px;
  }
}


@media only screen and (min-width: 1536px) and (max-width: 1919px) {
  .header-upper {
    gap: 300px;
  }
}


@media only screen and (min-width: 1440px) and (max-width: 1535px) {
  .header-upper {
    gap: 250px;
  }
}

@media only screen and (max-width: 361px) {


  .header-info,
  .logo,
  .header-down {
    display: none;
  }
}