.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.login-title {
  margin-top: 0;
  margin-bottom: 10px;
}

.login_form {
  display: flex;
  flex-direction: column;
}

.login_label {
  margin-bottom: 10px;

}

.login_input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.login-btn{
  padding: 10px 16px;
  background-color: #163E6C;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #1e5493;
}

.login-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}