.search-label {
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 15px;
    color: #163E6C;
}
.search-container {
    display: flex;
    gap: 10px;
}

.search-input {
    width: 400px;
    height: 25px;

}

.search-form {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.search-btn{
    width: 100px;
    height: 23px;
    background: #D20A11;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: 'CustomFont', sans-serif;
    font-size: 18px;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    margin-right: 10px;

}

.search-btn:hover {
    background-color: #ce595e;
}

.search-info_label{
    padding-bottom: 10px;
    padding-top: 10px;
}

.table {
	width: 100%;
	margin-bottom: 20px;
	border-collapse: collapse;
}
.table th {
	font-weight: bold;
	padding: 5px;
	background: #8cbdf6;
	border: 1px solid #8cbdf6;
}
.table td {
	border: 1px solid #dddddd;
	padding: 5px;
    background: white;
}
.table tr td:first-child, .table tr th:first-child {
	border-left: none;
}
.table tr td:last-child, .table tr th:last-child {
	border-right: none;
}

.filter-btn{
    padding: 20px 0px;

}

.filter-group {
    display: inline-block;
    margin-right: 10px;
    padding: 20px 0px;
}