.machine-table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'CustomFont', sans-serif;
}

.machine-table th,
.machine-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid black;
}

.machine-table th {
  background-color: #8cbdf6;
}

.machine-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.machine-table tbody tr:hover {
  background-color: #cde3f8;
}

.h1{
  padding: 10px 0;
}

.machine-row {
  cursor: pointer;
}

.detail-view_h2{
  padding: 30px 0px;
}



