.main-page_picture {
    transform: scaleX(-1);
}

.main-picture-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon{
    width: 80px;
    height: 80px;
}

.main-page_upper {
    margin: 20px 0px;
}

.main-page_down {
    width: 900px;
    display: grid;
    height: auto;
    grid-template-columns: 1fr 2fr 1fr;
    margin: auto;

}

.down_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    padding: 10px;
    box-sizing: border-box;
}

.down-2 {
    margin-top: 130px;
}

.title-1 {
    font-family: 'CustomFont', sans-serif;
    color: #D20A11;
    font-size: 30px;
    margin: 15px;
}

.title-2 {
    font-family: 'CustomFont', sans-serif;
    font-size: 45px;
    font-weight: bold;
    color: #163E6C;
    letter-spacing: -3px;
}


.main_picture {
    width: 630px;
    height: 500px;
    margin-right: 200px;

}

.logo_picture {
    width: 900px;
    height: 150px;

}

.main-page_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'CustomFont', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #163E6C;
}

.part1 {
    width: 300px;
    height: 150px;

}
.main_p{
    margin-bottom: 20px;
}
.main-pic_text {
    width: 30%;
    text-align: justify;
    margin-left: 150px;
}

.box-text {
    text-align: left;
}

@media only screen and (min-width: 1366px) and (max-width: 1920px) {
    .main-pic_text {
        margin-left: 350px;
    }
    .main_picture {
        margin-right: 400px;

    }
}
@media only screen and (max-width: 361px) {
    .main_picture{
        width: 230px;
        height: 150px;
    }

    .logo_picture{
        width: 300px;
        height: 50px;
    }
    .main-page_wrap {
        display: none;
    }
}